html {
    p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ul {
        list-style-type: none;
    }
}

header {
    height: 150px;
    background-image: linear-gradient(90deg, rgba(12,48,115,1) 0%, rgba(6,52,89,1) 100%);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 15%)
    );
    /* change the calc height to a percentage height to get alternate responsive behavior*/
    .nav-url {
        display: inline-block;
        font-size: 1.25rem;
        padding: .5rem .75rem;
        transition: 450ms ease-in-out;
        color: white;
        text-decoration: none;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            margin-top: 5px;
            background: #FFF;
            transition: width 550ms;
        }
        &:hover::after {
            width: 100%;
            transition: width 550ms;
        }
    }
}
